<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884347401923-rqds1c9ntsctc14l32lppb7vqtgt5rbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884347401923-rqds1c9ntsctc14l32lppb7vqtgt5rbf</string>
	<key>API_KEY</key>
	<string>AIzaSyDXU6-wMxqgpJHPxbG2yL8oo3CXiEBkzdg</string>
	<key>GCM_SENDER_ID</key>
	<string>884347401923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>final.moapp.edu.handong.csee</string>
	<key>PROJECT_ID</key>
	<string>show-management-app</string>
	<key>STORAGE_BUCKET</key>
	<string>show-management-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:884347401923:ios:af29bb8b0fc6b19bef1476</string>
	<key>DATABASE_URL</key>
	<string>https://show-management-app.firebaseio.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>Need to upload image</string>
    <key>NSCameraUsageDescription</key>
    <string>Need to upload image</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Need to upload image</string>
</dict>
</plist>
